footer
  .container.text-center
    p.float-left © 2019 <%= blueprint.label %>, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter') Hackathon Starter GitHub Project

      li.list-inline-item
        ||

      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter/issues') Hackathon Starter Issues

      li.list-inline-item
        ||

      li.list-inline-item
        a(href='https://github.com/codotype/codotype-hackathon-starter/issues') Codotype Generator Issues

