extends ../layout

block content
  .row
    .col-lg-6
      h2 <%= schema.label_plural %>

    .col-lg-6.text-right
      a.btn.btn-outline-primary(href="/<%= schema.identifier_plural %>/new")
        i.fa.fa-fw.fa-plus
        | New

  .row
    .col-sm-12
      include ./confirmDestroy.pug

      table.table.table-striped
        thead
          <%_ schema.attributes.forEach((a) => {_%>
          th <%= a.label %>
          <%_ }) _%>
          <%_ schema.relations.forEach((r) => {_%>
          <%_ if (r.type === 'HAS_MANY') { _%>
          th <%= r.alias.label_plural %>
          <%_ } else if (['HAS_ONE', 'BELONGS_TO'].includes(r.type)) { _%>
          th <%= r.alias.label %>
          <%_ } _%>
          <%_ }) _%>
          th

        tbody
          if (!collection[0])
            tr.table-warning
              td No <%= schema.label_plural %> available
              <%_ schema.attributes.forEach((a) => {_%>
              td
              <%_ }) _%>
              <%_ schema.relations.forEach((r) => {_%>
              td
              <%_ }) _%>
          else
            for <%= schema.identifier %> in collection
              tr
                <%_ schema.attributes.forEach((a) => {_%>
                td= <%= schema.identifier %>.<%= a.identifier %>
                <%_ }) _%>

                <%_ schema.relations.forEach((rel) => { _%>
                <%_ if ([RELATION_TYPE_BELONGS_TO, RELATION_TYPE_HAS_ONE].includes(rel.type)) { _%>
                if (<%= schema.identifier %>.<%= rel.alias.identifier %>_id && <%= schema.identifier %>.<%= rel.alias.identifier %>)
                  td
                    a(href="/<%= rel.schema.identifier_plural %>/" + <%= schema.identifier %>.<%= rel.alias.identifier + '_id' %>)= <%= schema.identifier %>.<%= rel.alias.identifier %>.<%= rel.related_lead_attribute %>
                else
                  td
                <%_ } else if (rel.type === RELATION_TYPE_HAS_MANY) { _%>
                if (<%= schema.identifier %>.<%= rel.alias.identifier %>_ids)
                  td= <%= schema.identifier %>.<%= rel.alias.identifier %>_ids.length + ' <%=rel.alias.label_plural %>'
                else
                  td None
                <%_ } _%>
                <%_ }) _%>

                td.text-right
                  .btn-group
                    button.btn.btn-outline-dark.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
                      a.dropdown-item(href="/<%= schema.identifier_plural %>/" + <%= schema.identifier %>._id)
                        i.fa.fa-fw.fa-eye
                        | Show
                      a.dropdown-item(href="/<%= schema.identifier_plural %>/" + <%= schema.identifier %>._id + "/edit")
                        i.fa.fa-fw.fa-pencil-alt
                        | Edit
                      a.dropdown-item(href='#' data-toggle='modal', data-target='#confirmDestroy' data-id=<%= schema.identifier %>._id)
                        i.fa.fa-fw.fa-trash-alt
                        | Destroy
