extends ../layout

block content
  .row
    .col-lg-6
      h2 <%= schema.label_plural %>

    .col-lg-6.text-right
      a.btn.btn-outline-primary(href="/<%= schema.identifier_plural %>/new")
        i.fa.fa-fw.fa-plus
        | New

  .row
    .col-sm-12

      //- // // // //
      //- Delete Modal
      //- TODO - abstract this into a DestroyModal partial, use on show page as well
      #destroyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='destroyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          form(method='POST' action="/<%= schema.identifier_plural %>").modal-content
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', value='DELETE', name='_method')
            .modal-header
              h5#destroyModalLabel.modal-title Destroy <%= schema.label %>?
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.text-center
              strong Are you sure you want to destroy this <%= schema.label %>?
              br
              small.text-muted This action cannot be undone.

            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
              button.btn.btn-danger(type='submit') Destroy <%= schema.label %>

      script.
        $('#destroyModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('id') // Extract info from data-* attributes
          var modal = $(this)
          modal.find('form').attr('action', '/<%= schema.identifier_plural %>/' + recipient)
        })
      //- //
      //- // // // //

      table.table.table-striped
        thead
          th ID
          <%_ schema.attributes.forEach((a) => {_%>
          th <%= a.label %>
          <%_ }) _%>
          <%_ schema.relations.forEach((r) => {_%>
          <%_ if (r.type === 'HAS_MANY') { _%>
          th <%= r.alias.label_plural %>
          <%_ } else if (['HAS_ONE', 'BELONGS_TO'].includes(r.type)) { _%>
          th <%= r.alias.label %>
          <%_ } _%>
          <%_ }) _%>
          th

        tbody
          if (!collection[0])
            tr.table-warning
              td No <%= schema.label_plural %> available
              <%_ schema.attributes.forEach((a) => {_%>
              td
              <%_ }) _%>
              <%_ schema.relations.forEach((r) => {_%>
              td
              <%_ }) _%>
              td
          else
            for <%= schema.identifier %> in collection
              tr
                td
                  a(href="/<%= schema.identifier_plural %>/" + <%= schema.identifier %>.<%= "_id" %>)=<%= schema.identifier %>.<%= "_id" %>

                <%_ schema.attributes.forEach((a) => {_%>
                td= <%= schema.identifier %>.<%= a.identifier %>
                <%_ }) _%>

                <%_ schema.relations.forEach((rel) => { _%>
                <%_ if ([RELATION_TYPE_BELONGS_TO, RELATION_TYPE_HAS_ONE].includes(rel.type)) { _%>
                if (<%= schema.identifier %>.<%= rel.alias.identifier %>_id && <%= schema.identifier %>.<%= rel.alias.identifier %>)
                  td
                    a(href="/<%= rel.schema.identifier_plural %>/" + <%= schema.identifier %>.<%= rel.alias.identifier + '_id' %>)= <%= schema.identifier %>.<%= rel.alias.identifier %>.<%= rel.related_lead_attribute %>
                else
                  td
                <%_ } else if (rel.type === RELATION_TYPE_HAS_MANY) { _%>
                if (<%= schema.identifier %>.<%= rel.alias.identifier %>_ids)
                  td= <%= schema.identifier %>.<%= rel.alias.identifier %>_ids.length + ' <%=rel.alias.label_plural %>'
                else
                  td None
                <%_ } _%>
                <%_ }) _%>

                td.text-right
                  .btn-group
                    button.btn.btn-secondary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
                      a.dropdown-item(href="/<%= schema.identifier_plural %>/" + <%= schema.identifier %>._id + "/edit")
                        i.fa.fa-fw.fa-pencil-alt
                        | Edit
                      a.dropdown-item(href='#' data-toggle='modal', data-target='#destroyModal' data-id=<%= schema.identifier %>._id)
                        i.fa.fa-fw.fa-trash-alt
                        | Destroy
